
<script type="text/javascript" src="{{ asset('bundles/dellaertdcim/_js/sorttable.js') }}"></script>
<h2>Open revenue</h2>
<table cellspacing="0" class="sortable">
	<thead>
	 	<tr>
	 		<th width="1%"></th>
			<th width="10%">Number</th>
			<th>Project</th>
			<th>Title</th>
			<th width="12%">Due</th>
			<th width="12%" class="textright">Amount<br/>(w/o VAT)</th>
			<th width="12%" class="textright">Amount<br/>(w VAT)</th>
		</tr>
	</thead>
	<tbody>
		{% for invoice in outgoingInvoices %}
			<tr>
				<td>{% spaceless %}
					{% if invoice.dueState == 'alert' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/alert.png') }}" alt="alert" />
					{% elseif invoice.dueState == 'warning' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/warning.png') }}" alt="warning" />
					{% endif %}
				{% endspaceless %}</td>
				<td><a href="{{ path('OutgoingInvoiceViewSlug', { 'slug': invoice.slug }) }}">{{ invoice.invoiceNumber }}</a></td>
				<td>{{ invoice.project.company.companyName }} - {{ invoice.project.title }}</td>
				<td>{{ invoice.title }}</td>
				<td>{{ invoice.dueDate.format('Y-m-d') }}</td>
				<td class="textright">{{ invoice.totalWoVAT }}</td>
				<td class="textright">{{ invoice.totalWithVAT }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="5" class="textright"><b>Total</b></th>
			<th class="textright">{{ outgoingTotal }}</th>
			<th class="textright">{{ outgoingTotalWVAT }}</th>
		</tr>
	</tfoot>
</table>
<h2>Open company expenses</h2>
<table cellspacing="0" class="sortable">
	<thead>
	 	<tr>
	 		<th width="1%"></th>
			<th>Number</th>
			<th>Title</th>
			<th width="12%">Due</th>
			<th width="12%" class="textright">Amount<br/>(w/o VAT)</th>
			<th width="12%" class="textright">Amount<br/>(w VAT)</th>
		</tr>
	</thead>
	<tbody>
		{% for invoice in incomingInvoices %}
			<tr>
				<td>{% spaceless %}
					{% if invoice.dueState == 'alert' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/alert.png') }}" alt="alert" />
					{% elseif invoice.dueState == 'warning' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/warning.png') }}" alt="warning" />
					{% endif %}
				{% endspaceless %}</td>
				<td><a href="{{ path('IncomingInvoiceViewSlug', { 'slug': invoice.slug }) }}">{{ invoice.invoiceNumber }}</a></td>
				<td>{{ invoice.title }}</td>
				<td>{{ invoice.dueDate.format('Y-m-d') }}</td>
				<td class="textright">{{ invoice.totalWoVAT }}</td>
				<td class="textright">{{ invoice.totalWithVAT }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="textright"><b>Total</b></th>
			<th class="textright">{{ incomingTotal }}</th>
			<th class="textright">{{ incomingTotalWVAT }}</th>
		</tr>
	</tfoot>
</table>
<h2>Open personal expenses</h2>
<table cellspacing="0" class="sortable">
	<thead>
	 	<tr>
	 		<th width="1%"></th>
			<th>Number</th>
			<th>Title</th>
			<th width="12%">Due</th>
			<th width="12%" class="textright">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for expense in personalExpenses %}
			<tr>
				<td>{% spaceless %}
					{% if expense.dueState == 'alert' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/alert.png') }}" alt="alert" />
					{% elseif expense.dueState == 'warning' %}
						<img src="{{ asset('bundles/dellaertdcim/_img/warning.png') }}" alt="warning" />
					{% endif %}
				{% endspaceless %}</td>
				<td><a href="{{ path('PersonalExpenseViewSlug', { 'slug': expense.slug }) }}">{{ expense.expenseNumber }}</a></td>
				<td>{{ expense.title }}</td>
				<td>{{ expense.dueDate.format('Y-m-d') }}</td>
				<td class="textright">{{ expense.amount }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="textright"><b>Total</b></th>
			<th class="textright">{{ expenseTotal }}</th>
		</tr>
	</tfoot>
</table>

