<h2>VAT in {{ year }}</h2>
<script type="text/javascript"> 
	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'vatbyyeargraphs',
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false
			},
			credits: {
				enabled: false
			},
			title: {
				text: 'VAT per company and quarter'
			},
			tooltip: {
				formatter: function() {
					return '<b>'+ this.point.name +'</b>: '+ this.y +' euro';
				}
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						color: '#4a4a4a',
						connectorColor: '#4a4a4a',
						formatter: function() {
							return '<b>'+ this.point.name +'</b>';
						}
					}
				}
			},
		    series: [{
				type: 'pie',
				name: 'VAT per company',
				data: [
					{% for company,value in perCompany %}
						['{{ company }}', {{ value }}],
					{% endfor %}
				],
				center: [250,100],
		    	size: 175
			}, {
				type: 'pie',
				name: 'VAT per month',
				data: [
					{% for quarter,value in perQuarter %}
						{% if value != 0 %}
							['{{ quarter }}', {{ value }}],
						{% endif %}
					{% endfor %}
				],
				center: [650,100],
		    	size: 175
			}]
		});
	});
</script>
<div id="vatbyyeargraphs" style="width: 100%; height: 300px; margin: 0 auto;"></div>
<table cellspacing="0" class="sortable">
	<thead>
	 	<tr>
			<th width="10%">Number</th>
			<th>Project</th>
			<th>Title</th>
			<th width="12%">Due</th>
			<th width="12%" class="textright">Amount (w/o VAT)</th>
			<th width="12%" class="textright">Amount (VAT)</th>
		</tr>
	</thead>
	<tbody>
		{% for invoice in invoices %}
			<tr>
				<td><a href="{{ path('OutgoingInvoiceViewSlug', { 'slug': invoice.slug }) }}">{{ invoice.invoiceNumber }}</a></td>
				<td>{{ invoice.project.company.companyName }} - {{ invoice.project.title }}</td>
				<td>{{ invoice.title }}</td>
				<td>{{ invoice.dueDate.format('Y-m-d') }}</td>
				<td class="textright">{{ invoice.totalWoVAT }}</td>
				<td class="textright">{{ invoice.totalVAT }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="textright"><b>Total</b></th>
			<th class="textright">{{ total }}</th>
			<th class="textright">{{ totalVat }}</th>
		</tr>
	</tfoot>
</table>