{% extends "DellaertDCIMBundle::layout.html.twig" %}

{% block content %}
	{% if form is defined %}
	    <h1>Edit category: {{ entity.title }}</h1>
	    <form action="{{ path('CategoryEdit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
	    	{{ form_widget(form) }}
	    	<input class="button save left" type="submit" value="Save" /><input class="button middle" type="reset" value="Reset" /><a href="{{ path('CategoryViewSlug',{ 'slug': entity.slug }) }}" class="button right delete">Cancel</a>
	    </form>
    {% elseif entity is defined %}
    	<script type="text/javascript">
    	setTimeout(function() {
    		  window.location.href = "{{ path('CategoryViewSlug',{ 'slug': entity.slug }) }}";
    		}, 3000);
    	</script>
    	<h1>Category changed: {{ entity.title }}</h1>
    	<p>You will be returned to the categories page in 3 seconds...</p>
    {% else %}
		<h1>Unknown category</h1>
		<p>The specified category is not available.</p>
    {% endif %}
{% endblock %}
