{% extends "DellaertDCIMBundle::layout.html.twig" %}

{% block content %}
	{% if entity %}
		<script type="text/javascript">
			function confirmDelete() {
				if( confirm('Are you sure you want to delete this work entry?') ) {
					window.location = "{{ path('WorkEntryDelete',{ 'id': entity.id }) }}";
				}
			}
		</script>
		<div id="entitybuttons"><a href="{{ path('WorkEntryEdit',{ 'id': entity.id }) }}" class="button left">Edit</a><a href="javascript:confirmDelete()" class="button right">Delete</a></div>
	    <h1>Work entry: {{ entity.issue.title }}</h1>
	    <table cellspacing="0">
	    	<tr>
	    		<th rowspan="2" width="20%">Description</th>
	    		<td rowspan="2" width="30%">{{ entity.description }}</td>
	    		<th width="20%">Date</th>
	    		<td width="30%">{{ entity.date.format('Y-m-d') }}</td>
	    	</tr>
	    	<tr>
	    		<th>Amount</th>
	    		<td>{{ entity.amount }} h</td>
	    	</tr>
	    </table>
	{% else %}
		<h1>Unknown work entry</h1>
		<p>The specified work entry is not available.</p>
	{% endif %}
{% endblock %}
